export const environment = {
  production: true,
  firebaseConfig: {
      apiKey: "AIzaSyAlEqhEZHEzgzfFNj_dSQkVlLOhc4naYX0",
      authDomain: "ionicgymfs.firebaseapp.com",
      projectId: "ionicgymfs",
      storageBucket: "ionicgymfs.firebasestorage.app",
      messagingSenderId: "466486840254",
      appId: "1:466486840254:web:bcb6b08d5e5d34cff447ef",
      measurementId: "G-5CNW1Q2C0H"
    },
};
